.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1em;
    overflow: hidden;
    background-color: var(--global-color-1);
    color: white;
}
.navbar > div > a{
    color: white;
    margin: 0 1em;
    transition: 0.1s ease-in-out;
}

.navbar > div > a:hover{  color: black;}
.navbar > div:hover{ color: black; }

@media (max-width: 380px) {
    .navbar{
        padding: 0.5em;
        align-items: center;
    }
    .navbar > div{
        display: flex;
        flex-direction: column; 
    }
    .navbar > div > a{
        margin: 0;
    }
}