.main{
    background-color: rgb(255, 255, 255);
    margin: 0;
    /* min-height: 100vh; */
}

.main > h2 { 
    margin: 0;
    padding: 0.5em;
}
.main > div > div > div button:hover { 
    background-color: var(--global-color-1);
}

/* THE OTHER NOTATION*/

.main__list__container{
    margin: 5em 3em;
}
.main__list__div{
    font-weight: 300;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(7,1fr);
    border: 1px green solid;
}
.main__list__div__element{
    border: 3px black solid;
}

.main__list__div__button{
    margin: 1em;
    border: none;
    color: white;
    background-color: orange;
}

/*ACTIONS buttons*/

.main__list__div__buttonholder{
    display: flex;
    /* border: 3px solid blue; */
    cursor: pointer;
}

.edit__button{
    width: 50%;
    border: none;
    color: white;
    background-color: grey;
    cursor: pointer;
}
.remove__button{
    width: 50%;
    border: none;
    color: white;
    background-color: orange;
    cursor: pointer;
}

@media (max-width: 750px) {
    .main__list__container{
        margin: 1em 0em;
    }
    .main__list__div{
        padding: 0.5em;
        gap: 0.5rem;
        grid-template-columns: repeat(7,1fr);
    }
    .main__list__div__element{
        font-size: 0.6rem;
    }
    .main__list__div__button{
        background-color: red;
        font-size: 0.6rem;
        display: inline-block;
        border: 3px black solid;
    }
    .edit__button{
        font-size: 0.6rem;
        width: 100%;
        min-height: 50%;

    }
    .remove__button{
        font-size: 0.6rem;
        width: 100%;
        min-height: 50%;
    }
    .main__list__div__buttonholder{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}