.main{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.main > h2 { 
    margin: 0;
    padding: 0.5em;
}
#mainbar{
    font-weight: bold;
    font-family: "nunito";
}
.main > div > div > div button:hover { 
    background-color: var(--global-color-1);
}
.main > div > div > div a:hover { 
    background-color: var(--global-color-1);
}

/* THE OTHER NOTATION*/

.main__list__container{
    margin: 5em 3em;
}
.main__list__div{
    font-weight: 300;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(7,1fr);
    box-shadow: var(--global-color-4) 0px 48px 100px 0px;
}

.main__list__div__button{
    border: none;
    background-color: var(--global-color-4) 0px 48px 100px 0px;
}

/*ACTIONS buttons*/

.main__list__div__buttonholder{
    display: flex;
    cursor: pointer;
}

.edit__button{
    width: 50%;
    border: none;
    background-image: url("../../../../edit.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.remove__button{
    width: 50%;
    border: none;
    background-color: var(--global-color-4) 0px 48px 100px 0px;
    background-image: url("../../../../delete3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media (max-width: 750px) {
    .main__list__container{
        
        margin: 1em 0em;
    }
    .main__list__div{
        padding: 0.5em;
        gap: 0.5rem;
        grid-template-columns: repeat(7,1fr);
    }
    .main__list__div__element{
        font-size: 0.6rem;
    }
    .main__list__div__button{
        font-size: 0.6rem;
        display: inline-block;
    }
    .edit__button{ /*LO BORRRE*/
        font-size: 0.6rem;
        width: 100%;
        min-height: 50%;
    }
    .remove__button{
        font-size: 0.6rem;
        width: 100%;
        min-height: 50%;
    }
    .main__list__div__buttonholder{
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:425px) {
    .main__list__div__button{
        position: relative;
        margin: auto;
        width: 100%;
    }
}